name: npm-publish

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  npm-path-version:
    name: Create new path version
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'VER:')"
    steps:
    - uses: actions/checkout@v2
    - name: Setup GIT
      run: |
        git config user.email "robot@github.com"
        git config user.name "Github Robot"
    - name: Use Node.js
      uses: actions/setup-node@v1
      with:
        node-version: 12
        registry-url: 'https://npm.pkg.github.com'
        scope: '@softing'
    - name: Create version
      run: |
        npm version patch
        git push --tags
    - name: Publish package
      run: npm publish
      env:
        NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
